/* Combinator Selector*/
/* div p {
    background-color: aqua;
}

div > p{
    background-color: blue;
}

div + p {
    background-color: blueviolet;
} 

div ~ p {
    background-color: red;
} 
 */
/* Pseudo Class Selector */
/* a:link {
    color:red;
    text-decoration:underline;
}
a:active {
    color:violet;
}

a:hover {
    text-transform:uppercase;
    color:darkorange;
}
a:visited {
    color: cyan;
} */

/*div li:first-child {
    color: red;
}
div li:last-child {
    color: blue;
}
div li:nth-child(3) {
    color: aqua;
}
div li:nth-child(odd) {
    color: darkgreen;
}
div li:nth-child(even) {
    color: deeppink;
}
*/
/* Pseudo Element Selector */
/*p::before {
    content:"para-1:";
}
p::after {
    content:"End";
}
p::first-letter {
    font-size: 28px;
    color: brown;
}
p::first-line {
    text-decoration: underline;
}*/
/* Attribute Selector */
/*input[type="text"] 
{
    width: 300px;
    padding: 10px;
}
input[type="email"] 
{
    width: 300px;
    padding: 10px;
}*/
/* some concept */
/*.container {
    height: 500px;
    background-color: gray;
    margin: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes {
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 20px;
    padding: 15px;
}*/
