body {
    margin: 0;
}

.mainideas {
    background-color: lightsalmon;
    display:flex;
}

.sidebar {
    width: 100px;
    height: 102vh;
    color:white;
    background-color: black;
}

.sidebar > h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.sidebar > li {
    text-align: center;
    line-height: 2.5rem;
    list-style-type: none;
}

.headpart {
    background-color:white;
    box-sizing: border-box;
    height: 100px;
    width: 1420px;
    border-radius: 6px;
    padding: 20px;
}


/* GIRD STYLE */
 .grid-container {
    background-color: lightgreen;
    padding:15px;


    display:grid;
    grid-template-columns: auto auto auto; /*row-gap:10px; column-gap:10px;*/
    gap:12px;
    grid-template-rows: 70px 200px 300px;
 }

 .grid-items {
    background-color: white;
    color: red;
    padding: 10px;
 }

