/* Float */
/* .boxes {
    background-color: #10a8e9;
    height: 150px;
    width: 150px;
    margin: 5px;
    float:left;
} */

/* Position */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.5rem;
    min-height: 200vh;
}
.outer-container {
    border: 3px dashed black;
    width: 45vw;
    height: 100vh;
    margin: 40px auto;
    position: relative;
}
.inner-container {
    border: 3px solid darkmagenta;
    width: 20vw;
    height: 70vh;
    margin: 200px auto;
}
.box {
    width: 150px;
    height: 150px;
    color: white;
    padding: 1rem;
}
.absolute {
    background-color: blue;
    /* position: static; */
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1; */
}
.relative {
    background-color: red;
    position: relative;
    top: 100px;
    left: 150px;
}
.fixed {
    background-color: green;
    position: fixed;
    top: 180px;
    left: 600px;
}
.sticky {
    background-color: black;
    position: sticky;
    top: 20px;
}