/* Flex property */
.container {
    background-color: lightpink;
    border-radius: 6px;
    padding: 15px;
    height: 90vh;

    display: flex;
    /*flex-flow: row wrap ( flex-wrap & flex-direction )*/
    flex-wrap: wrap; /* no-wrap*/
    flex-direction: row; /* row-reverse, column , column-reverse */
    align-items: center; /* top, center, bottom */
    align-content: center;
    justify-content: center; /* left, center, right, space-around, space-between , space-evenly */

}
.items {
    background-color: white;
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
    margin: 5px;
    /*flex-grow: 2;*/
    /*flex-shrink*/
}